<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        
      </ion-menu-button>
    </ion-buttons>
    <ion-title>About </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../../assets/tome.jpg" />
    <ion-card-header>
      <ion-card-title>Tomas Andres Campbell Robinet</ion-card-title>
      <ion-card-subtitle>Estudia ingenieria en informática y trabaja en el mall sur ¿.</ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <ion-card>
  <img alt="Silhouette of mountains" src="../../../assets/bar.jpg" />
    <ion-card-header>
      <ion-card-title>Barbara Juliette Soto Soto</ion-card-title>
      <ion-card-subtitle>Estudiante de ingenieria en informática.</ion-card-subtitle>
    </ion-card-header>
  
  
  </ion-card>


</ion-content>
